@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #e4e2ff;
  --green-text-color: #17b06b;
}

pre code {
  background-color: rgba(255, 251, 251, 0.2) !important;
  display: block;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre;
}

blockquote {
  border-left: 5px solid rgba(202, 202, 202, 0.4);
  padding-left: 1.5em !important;
}

ul {
  list-style: disc !important;
}

a {
  color: var(--green-text-color);
}

hr {
  margin-top: 20px !important;
  margin-bottom: 25px !important;
  border: 1 !important;
  border-bottom: 1px dashed var(--green-text-color) !important;
  border-top: 1px rgba(0, 0, 0, 0.1) !important;
  background: none !important;
}
body {
  background-color: #0c0d16;
  color: var(--text-color) !important;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}
.post-info {
  color: var(--green-text-color);
}

.personal-blog-font {
  font-family: monospace, sans-serif !important;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.2;
}
.name-text {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

.green-border {
  border-color: var(--green-text-color);
}
